<div class="grid">
	<div class="row">

		<%= render 'nav' %>		
		
	  	<section class="col-2-3 tab">
      		<img class="col-1-1"src="/assets/front_page/fire.jpg" />
<!-- 			<p class="blurb">We are an <em>archaeological heritage</em> consultancy based in Northern Ireland. We work with <em>schools</em>, <em>community groups</em>, <em>heritage trusts</em>, <em>councils</em> and <em>local government bodies</em> in the promotion of <em>local archaeology</em>.</p> -->

			<p class="row aim">
				<em>Our aim</em> is to promote local heritage by <em>engaging communities</em> through events and school outreach programmes. We want to <em>create connections</em> and <em>build infrastructures</em> that can start to explore the rich heritage all around us. 
				<br />
				<br />
				We are constantly improving our approach to the way we teach and demonstrate our heritage. We strive to give the best service possible and to <em>build more bridges</em> between communities based on our shared heritage - which stretches back <em>10,000 years</em>.
			</p>

		</section><!-- /.tabpane -->
	</div><!-- end of main content row -->

	<div class="row">
		<%= render 'summary' %>
	</div>

	<div class="row ">
		<%= render 'events' %>
	</div><!-- end of event row -->

	<div class="row">
		<%= render 'others' %>
		<%= render 'mobile_nav' %>
	</div><!-- end of row 3 -->


</div><!-- end of main -->

<%= render 'social-script' %> 


