<div class="grid">
	<div class="row">

		<%= render 'nav' %>		
		
	  	<section class="col-2-3">

			<!-- <ul id="color-border"><li id="one"></li><li id="three"></li><li id="four"></li><li id="five"></li><li id="six"></li><li id="two"></li></ul> -->
			<img style="width: 100%;" src="/assets/front_page/girl-walking-past-table.jpg" />

			<div class="relativeImg">
				<h3 class="home">Bringing our local heritage to the world</h3>
			</div>

			<p class="row aim">
				We are an <em>archaeological heritage</em> consultancy based in Northern Ireland. We work with <em>schools</em>, <em>community groups</em>, <em>heritage trusts</em>, <em>councils</em> and <em>local government bodies</em> in the promotion of <em>local archaeology</em>
			</p>
		</section>
	</div>

	<div class="row">
		<%= render 'summary' %>
	</div>

	<div class="row ">
		<%= render 'events' %>
	</div><!-- end of event row -->

	<div class="row">
		<%= render 'others' %>
		<%= render 'mobile_nav' %>
	</div><!-- end of row 3 -->


</div><!-- end of main -->

<%= render 'social-script' %> 


