<% provide(:title, 'Contact Us') %>

<div class="main">
  <div class="row">

    <%= form_for(@message) do |f| %>    
    <%= render 'shared/error_messages', object: f.object %>

    <div class="span6 form">
      <h2>Contact Us</h2>
      <div>
        <div>
          <%= f.text_field :name, :placeholder => 'Name' %>
        </div>
        <div>
          <%= f.text_field :email,  :placeholder => 'Email'  %>
        </div>
        <div>
          <%= f.text_area :content, :rows => 5, :placeholder => 'Message'  %>
        </div>
        <div><%= f.submit "Send", :class => 'btn btn-primary btn-large'  %>
        </div>          
      </div>
    </div>

    <div class="span4 tab-content">
      <h2>Opening Hours</h2>
      8am-4pm, Monday-Friday <br />
      <br />
      Irish Archaelogical Research<br />
      47 Olympia Drive<br />
      Belfast<br />
      BT12 6NG<br />
      <br />
      Phone: 02890501769<br />
      Email: info@irisharchaeologicalresearch.com <br />
    </div> 


    <% end %>

  </div>
</div>


