<% provide(:title, 'Contact Us') %>

<div class="main content">
  <div class="row">

    <%= form_for @message do |f| %>
      <% if @message.errors.any? %>
        <div class="error_messages">
          <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
          <ul>
          <% @message.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="contact span6">
       <h2>Contact Us</h2>
        <div class="form">
          <div class="field span3">
            <%= f.text_field :name, :placeholder => 'Name' %>
          </div>
          <div class="field span3">
            <%= f.text_field :email,  :placeholder => 'Email'  %>
          </div>
          <div class="field span6">
            <%= f.text_area :content, :rows => 5, :placeholder => 'Message'  %>
          </div>
          <div class="actions"><%= f.submit "Send", :class => 'btn btn-primary btn-large'  %>
          </div>          
        </div>

      </div>

    <div class="span6 pull-right">
      <h2>Opening Hours</h2>
      8am-4pm, Monday-Friday <br />
      <br />
      Irish Archaelogical Research<br />
      47 Olympia Drive<br />
      Belfast<br />
      BT12 6NG<br />
      <br />
      Phone: 02890501769<br />
      Email: info@irisharchaeologicalresearch.com <br />
    </div> 


    <% end %>

  </div>
</div>


