<li>
	<%= publication.title %>
	<%= image_tag publication.image_url(:thumb).to_s %>
	| <%= link_to "download", download_publication_path(publication) %>
	<% if signed_in? %>
	| <%= link_to "delete", publication, method: :delete, data: { confirm: "You sure?" } %>		
	| <%= link_to "edit", edit_publication_path(publication) %>	
	<% end %>
</li>