<%= provide(:title, "Update publication") %>
<h1>Update publication</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@publication) do |f| %>
			<%= render 'shared/error_messages', object: f.object  %>

			<%= f.label :title %>
			<%= f.text_field :title %>

			<%= f.label :description %>
			<%= f.text_area :description %>

			<%= f.label :image, "Choose Image:" %>
			<%= f.file_field :image %>

			<%= f.label :file, "Choose File:" %>
			<%= f.file_field :file %>	

			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>