<%= provide(:title, "Update Publication") %>

<div class="grid">
  <div class="row">
  	<div class="col-2-3">

		<%= form_for(@publication) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :title %>
			<%= f.text_field :title %>

			<%= f.label :description %>
			<%= f.text_area :description, :rows => 5 %>

			<%= f.label :type %>
			<%= f.select :pubtype, [['Papers'], ['Magazines'], ['Leaflets']] %>

			<%= f.label :image, "Choose File:" %>
			<%= f.file_field :image %>
			
			<%= f.submit "Update publication", class: "btn btn-large btn-primary" %>
		<% end %>

  	</div>
  </div>
</div>
