<%= provide(:title, 'Publications') %>

<div class="main">
	<div class="row">

        <div class="span3 sidebar">
            <h2>Types</h2>
            <ul class="nav nav-tabs nav-stacked white-nav">
                <li>
                    <%= link_to 'Magazines', publications_path(:type => 'Magazines') %>
                </li>
                <li>
                    <%= link_to 'Leaflets', publications_path(:type => 'Leaflets') %>
                </li>
                <li>
                     <%= link_to 'Papers', publications_path(:type => 'Papers') %>
                </li> 
                <li>
                     <%= link_to 'All', publications_path %>
                </li>                                                
            </ul> 

          <% if signed_in? %>
            <p><%= link_to "Add new publication", new_publication_path %></p> 
        <% end %>
        </div>

		<div class="span9 main-container">
			<h2>Publications</h2>

            <div class="content">
                <%= will_paginate %>    

                <table class="table table-striped">
                    <thead>
                        <td style="width: 20%">Image</td>
                        <td style="width: 10%">Title</td>
                        <td style="width: 40%">Description</td>
                        <td style="width: 30%">Actions</td>             
                    </thead>
                    <tbody>
                        <%= render @publications %>
                    </tbody>
                </table>

                <%= will_paginate %>
            </div>
		</div>
	</div>
</div>

