<%= provide(:title, 'Publications') %>

<div class="main">
	<div class="row">

        <div class="tabbable span3">

            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#tab1" data-toggle="tab">Magazines</a></li>
                <li><a href="#tab2" data-toggle="tab">Leaflets</a></li>
                <li><a href="#tab3" data-toggle="tab">Papers</a></li>
            </ul>
        </div>

        <% if signed_in? %>
        <p><%= link_to "Add new publication", new_publication_path %></p>
        <% end %> 
 
        <div class="tab-content span9">
            <h2>Downloads</h2>
            <div id="tab1" class="tab-pane active">
                <table class="table table-striped">
                    <thead>
                        <td style="width: 20%">Image</td>
                        <td style="width: 10%">Title</td>
                        <td style="width: 40%">Description</td>
                        <td style="width: 30%">Actions</td>             
                    </thead>
                    <tbody>
                    <% @magazines.each do |mag| %>
                        <tr>
                            <td><%= image_tag mag.image_url(:thumb).to_s %></td>
                            <td><%= mag.title %></td>
                            <td><%= mag.description %></td>
                            <td>
                            <%= link_to "download", download_publication_path(mag) %>
                            | <%= link_to "view", mag.file_url.to_s %>
                            <% if signed_in? %>
                            | <%= link_to "delete", mag, method: :delete, data: { confirm: "You sure?" } %>     
                            | <%= link_to "edit", edit_publication_path(mag) %> 
                            <% end %>
                            </td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>

            <div id="tab2" class="tab-pane">
                <table class="table table-striped">
                    <thead>
                        <td style="width: 20%">Image</td>
                        <td style="width: 10%">Title</td>
                        <td style="width: 40%">Description</td>
                        <td style="width: 30%">Actions</td>             
                    </thead>
                    <tbody>
                    <% @leaflets.each do |mag| %>
                        <tr>
                            <td><%= image_tag mag.image_url(:thumb).to_s %></td>
                            <td><%= mag.title %></td>
                            <td><%= mag.description %></td>
                            <td>
                            <%= link_to "download", download_publication_path(mag) %>
                            | <%= link_to "view", mag.file_url.to_s %>
                            <% if signed_in? %>
                            | <%= link_to "delete", mag, method: :delete, data: { confirm: "You sure?" } %>     
                            | <%= link_to "edit", edit_publication_path(mag) %> 
                            <% end %>
                            </td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>

            <div id="tab3" class="tab-pane">
                <table class="table table-striped">
                    <thead>
                        <td style="width: 20%">Image</td>
                        <td style="width: 10%">Title</td>
                        <td style="width: 40%">Description</td>
                        <td style="width: 30%">Actions</td>             
                    </thead>
                    <tbody>
                    <% @papers.each do |mag| %>
                        <tr>
                            <td><%= image_tag mag.image_url(:thumb).to_s %></td>
                            <td><%= mag.title %></td>
                            <td><%= mag.description %></td>
                            <td>
                            <%= link_to "download", download_publication_path(mag) %>
                            | <%= link_to "view", mag.file_url.to_s %>
                            <% if signed_in? %>
                            | <%= link_to "delete", mag, method: :delete, data: { confirm: "You sure?" } %>     
                            | <%= link_to "edit", edit_publication_path(mag) %> 
                            <% end %>
                            </td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>                        
        </div>            
	</div>
</div>

