<%= provide(:title, 'Publications') %>

<div class="main">
	<div class="row">

        <div class="tabbable span3">

            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#tab1" data-toggle="tab">Magazines</a></li>
                <li><a href="#tab2" data-toggle="tab">Leaflets</a></li>
                <li><a href="#tab3" data-toggle="tab">Papers</a></li>
            </ul>

            <% if signed_in? %>
            <p><%= link_to "Add new publication", new_publication_path %></p>
            <% end %> 

        </div>
 
        <div class="download-content tab-content span9">
            <div id="tab1" class="tab-pane active">

                <% @magazines.each do |mag| %>
                <div class="download">                    
                    
                    <a href=<%= mag.file_url().to_s %>><%= image_tag mag.image_url(:thumb).to_s %></a>
                    <h3><%= mag.title %></h3>
                    <p><%= mag.description %></p>
                    
                    <p><%= link_to "download", download_publication_path(mag) %>
                    | <%= link_to "view", mag.file_url.to_s %>
                    <% if signed_in? %>
                    | <%= link_to "delete", mag, method: :delete, data: { confirm: "You sure?" } %>     
                    | <%= link_to "edit", edit_publication_path(mag) %> </p>
                    <% end %>
                       
                </div>
                        
                <% end %>

             </div>


            <div id="tab2" class="tab-pane">
                <% @leaflets.each do |mag| %>
                <div class="download">                    

                    <a href=<%= mag.file_url().to_s %>><%= image_tag mag.image_url(:thumb).to_s %></a>
                    <h3><%= mag.title %></h3>
                    <p><%= mag.description %></p>
                    
                    <p><%= link_to "download", download_publication_path(mag) %>
                    | <%= link_to "view", mag.file_url.to_s %>
                    <% if signed_in? %>
                    | <%= link_to "delete", mag, method: :delete, data: { confirm: "You sure?" } %>     
                    | <%= link_to "edit", edit_publication_path(mag) %> </p>
                    <% end %>
                       
                </div>
                        
                <% end %>
            </div>

            <div id="tab3" class="tab-pane">
                <% @papers.each do |mag| %>
                <div class="download">                    
                    
                    <a href=<%= mag.file_url().to_s %>><%= image_tag mag.image_url(:thumb).to_s %></a>
                    <h3><%= mag.title %></h3>
                    <p><%= mag.description %></p>
                    
                    <p><%= link_to "download", download_publication_path(mag) %>
                    | <%= link_to "view", mag.file_url.to_s %>
                    <% if signed_in? %>
                    | <%= link_to "delete", mag, method: :delete, data: { confirm: "You sure?" } %>     
                    | <%= link_to "edit", edit_publication_path(mag) %> </p>
                    <% end %>
                       
                </div>
                        
                <% end %>
            </div>                        
        </div>            
	</div>
</div>

