<%= provide(:title, 'Publications') %>

<div class="grid">
	<div class="row">

        <nav id="main_nav" class="col-1-5">
            <ul>
                <!-- <li class="selected"><a href="#tab1">Magazines</a></li> -->
<!--                 <li id="option2"><a href="#tab2">Leaflets</a></li>
                <li id="option3"><a href="#tab3">Papers</a></li> -->
            </ul>
            <% if signed_in? %>
            <p><%= link_to "Add new publication", new_publication_path %></p>
            <% end %> 
        </nav>
 
        <section class="tabpane col-2-3 download-section">

            <div id="tab1" class="selected tab">
                <ul class="download">                    


<li class="row">
    <a href=https://iar-test.s3.amazonaws.com/uploads/publication/image/66/Issue_5.pdf><img alt="Issue_5" src="/assets/magazines/Issue_5.jpg" /></a>
    <div class="info col-1-2">
        <h3>Issue 5</h3>
        <p>Discovering the Archaeologists of Europe</p>
        <p>Irish Archaeologists in Oz &amp; their Archaeological Investigations on Aboriginal sites</p>
        <p>Examining burial space in Blackfriary Trim, Ireland</p>
    
        <p><a href="https://iar-test.s3.amazonaws.com/uploads/publication/image/66/Issue_5.pdf">view</a>

    </div>
</li>
<li class="row">
    <a href=https://iar-test.s3.amazonaws.com/uploads/publication/image/65/Issue_4.pdf><img alt="Issue_4" src="/assets/magazines/Issue_4.jpg" /></a>
    <div class="info col-1-2">
        <h3>Issue 4</h3>
        <p>Excavations at Custom House Square, Belfast</p>
        <p>Latest Updates from the Belfast Hills Partnership</p>
        <p>IAR Festival of Archaeological Events</p>
        <p>Heritage week in Galway with IAR</p>
    
        <p><a href="https://iar-test.s3.amazonaws.com/uploads/publication/image/65/Issue_4.pdf">view</a>

    </div>
</li>
<li class="row">
    <a href=https://iar-test.s3.amazonaws.com/uploads/publication/image/64/Issue_3.pdf><img alt="Issue_3" src="/assets/magazines/Issue_3.jpg" /></a>
    <div class="info col-1-2">
        <h3>Issue 3</h3>
        <p>The Island of Saints, Scholars... and a few farmsteads</p>
        <p>The Highest Heights; aerial photography on a kite string</p>
        <p>Conserving the heroic Age: the British Antarctic Expedition</p>
    
        <p><a href="https://iar-test.s3.amazonaws.com/uploads/publication/image/64/Issue_3.pdf">view</a>

    </div>
</li>
<li class="row">
    <a href=https://iar-test.s3.amazonaws.com/uploads/publication/image/63/Issue_2.pdf><img alt="Issue_2" src="/assets/magazines/Issue_2.jpg" /></a>
    <div class="info col-1-2">
        <h3>Issue 2</h3>
        <p>Lessons in a Lost Landscape</p>
        <p>Here’s to Five more Years</p>
        <p>Músaem Chorca Dhuibhne, Baile an Fheirtéaraigh (Ballyferriter)</p>
        <p>Plantation: Mapping the North</p>

        <p><a href="https://iar-test.s3.amazonaws.com/uploads/publication/image/63/Issue_1.pdf">view</a>

    </div>
</li>        
<li class="row">
    <a href=https://iar-test.s3.amazonaws.com/uploads/publication/image/62/Issue_1.pdf><img alt="Issue_1" src="/assets/magazines/Issue_1.jpg" /></a>
    <div class="info col-1-2">
        <h3>Issue 1</h3>
        <p>A Venacular Apocalypse Now</p>
        <p>Bone of contention: the Raynestown ‘idol’</p>
        <p>Living history at Aughnanure Castle</p>
    
        <p><a href="https://iar-test.s3.amazonaws.com/uploads/publication/image/62/Issue_1.pdf">view</a>

    </div>
</li>  


                </ul>
             </div>


            <div id="tab2" class="tab">
                <ul class="download">                    
                    <%= render @leaflet_publications %>               
                </ul>
             </div>

            <div id="tab3" class="tab">
                <ul class="download">                    
                    <%= render @paper_publications %>               
                </ul>
            </div>
                        
        </section>            
	</div>
</div>

<%= render partial: 'shared/switching_script' %>
