<%= provide(:title, 'Publications') %>

<div class="main">
	<div class="row">

        <div class="span3 sidebar">
            <h2>Types</h2>
            <ul class="nav nav-tabs nav-stacked">
                <li>
                    <%= link_to 'Magazines', publications_path(:type => 'Magazines') %>
                </li>
                <li>
                    <%= link_to 'Leaflets', publications_path(:type => 'Leaflets') %>
                </li>
                <li>
                     <%= link_to 'Papers', publications_path(:type => 'Papers') %>
                </li> 
                <li>
                     <%= link_to 'All', publications_path %>
                </li>                                                
            </ul> 
        </div>

		<div class="span9 content">
			<h2>Publications</h2>

			<%= will_paginate %>	

			<table class="table table-striped">
				<thead>
					<td>Image</td>
					<td>Title</td>
					<td>Description</td>
					<td>Actions</td>				
				</thead>
				<tbody>
					<%= render @publications %>
				</tbody>
			</table>

			<%= will_paginate %>
		</div>
	</div>
</div>

