<li class="col-1-3">
	<h3>
		<a href=/events/#<%= event_excerpt.id %>><%= event_excerpt.title %></a>
	</h3>

	<p class="meta">
		<%= event_excerpt.date.strftime(" %d %B %Y") %> / <%= event_excerpt.location %>
	</p>
	<p class="body"><%= event_excerpt.summary %></p>

	<p><a href=/events/#<%= event_excerpt.id %>>Read more...</a></p>

	<span class="timestamp">Posted <%= time_ago_in_words(event_excerpt.created_at) %> ago.</span>
</li>


