<h4><%= event.title %></h4>

<%= event.description %>
<br />
<br />
<%= event.date.strftime(" %d %B %Y") %> 
<% if !event.location.blank? %><span> | </span><% end %>
<%= event.location %>
<br />
<br />

<% if signed_in? %>
<%= link_to 'Edit', edit_event_path(event) %>
<%= link_to 'delete', event, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
