<li id=<%= event.id %>>
	<h2><%= event.title %></h2>
	<p class="meta"><%= event.date.strftime(" %d %B %Y") %> / <%= event.location %></p>
<!-- 	<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2FIrishArchaeologicalResearchike&amp;width=450&amp;height=46&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;send=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:22px;" allowTransparency="true"></iframe> -->
	
	<p class="body"><%= event.description.html_safe %></p>

	<span class="timestamp">Posted <%= time_ago_in_words(event.created_at) %> ago.</span>

	<br />
	<br />

	<% if signed_in? %>
	<%= link_to 'Edit', edit_event_path(event) %>
	 | <%= link_to 'delete', event, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
</li>

