<li>
	<h2><%= event.title %></h2>
	<p class="meta"><%= event.date.strftime(" %d %B %Y") %> - <%= event.location %></p>
	<p class="body"><%= event.description.html_safe %>
	</p>
	<span class="timestamp">Posted <%= time_ago_in_words(event.created_at) %> ago.</span>
	<br />
	<br />

	<% if signed_in? %>
	<%= link_to 'Edit', edit_event_path(event) %>
	 | <%= link_to 'delete', event, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
</li>

