<%= form_for(@event) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

		<%= f.text_field :title, :placeholder => "Title" %>

		<%= f.text_field :date, :placeholder => "Date" %> 

		<%= f.text_field :location, :placeholder => "Location" %>

		<div>
			<%= f.text_area :summary, :rows => "1", :placeholder => "Add a brief summary for the homepage", :class => "summary" %>
			<span class="countdown"></span>
		</div>

		<div id="checkbox">
			<span>Is this a news item?</span>
			<%= f.check_box :news %>
		</div>

		<%= f.text_area :description, :rows => "100", :class => 'ckeditor' %>

		<%= f.submit "Save changes", class: "col-1-3 btn btn-large btn-primary" %>



<% end %>

<script type="text/javascript">
function updateCountdown() {
    // 140 is the max message length
    var remaining = 150 - jQuery('.summary').val().length;
    jQuery('.countdown').text('(' + remaining + ' characters remaining.)');
}

jQuery(document).ready(function($) {
    updateCountdown();
    $('.summary').change(updateCountdown);
    $('.summary').keyup(updateCountdown);
});


$(function() {
	$( "#event_date" ).datepicker({ 
		dateFormat : "yy-mm-dd" 
	});
});
</script>