<%= provide(:title, 'News/Events') %>

<div class="main content">
	<div class="row">
		<div class="span3">
            <h2>News/Events</h2>
            <ul class="nav nav-tabs nav-stacked">
                <li>
                    <%= link_to 'Events', events_path %>
                </li>
                <li>
                     <%= link_to 'News', events_path(:type => 'news') %>
                </li> 
            </ul> 

        <% if signed_in? %>
            <p><%= link_to "Add new event", new_event_path %></p>
        <% end %>             

		</div>

		<div class="span9">
			
            <% if @news_events %>
 
            <h2>News</h2>
            <%= render @news_events %>
 
            <% else %>
 
            <h2>Upcoming Events</h2>
            <%= render @upcoming_events %>
            <h2 id="second">Recent Events</h2>
            <%= render @past_events %>
            <% end %>


		</div>
	</div>
</div>

