<%= provide(:title, 'News/Events') %>

<div class="main content">
	<div class="row">
		<div class="span3">
            <h2>Types</h2>
            <ul class="nav nav-tabs nav-stacked">
                <li>
                    <%= link_to 'Events', events_path(:type => 'event') %>
                </li>
<!--                 <li>
                    <%= link_to 'Previous Events', events_path(:type => 'previous') %>
                </li>  -->
                <li>
                     <%= link_to 'News', events_path(:type => 'news') %>
                </li> 
                <li>
                     <%= link_to 'All', events_path %>
                </li>                                                
            </ul> 

        <% if signed_in? %>
            <p><%= link_to "Add new event", new_event_path %></p>
        <% end %>             

		</div>

		<div class="span9">
			<h2>News/Events</h2>

			<%= will_paginate %>	

			<ul class="events">
				<%= render @events %>
			</ul>

			<%= will_paginate %>
		</div>
	</div>
</div>

