<%= provide(:title, 'News/Events') %>

<div class="main">
	<div class="row">
		<div class="span3 sidebar">
            <h2>News/Events</h2>
            <ul class="nav nav-tabs nav-stacked white-nav">
                <li>
                    <%= link_to 'Events', events_path %>
                </li>
                <li>
                     <%= link_to 'News', events_path(:type => 'news') %>
                </li> 
            </ul> 

        <% if signed_in? %>
            <p><%= link_to "Add new event", new_event_path %></p>
        <% end %>             

		</div>

	<div class="span9 main-container event-latest">
        <% if @news_events %>
        <h2>News</h2> 
        <% else %>
        <h2>Upcoming Events</h2> 
        <% end %>


            <% if @news_events %>
            <%= render @news_events %>

            <% else %>
                
                <% if @upcoming_events.blank? %>
                    <p>There are no upcoming events</p>
                <% else %>
                    <%= render @upcoming_events %>
                <% end %>


        <h2 id="second">Recent Events</h2>

            <%= render @past_events %>

        <% end %>
    </div>
    </div>
</div>

