<%= provide(:title, 'News/Events') %>

<div class="grid">
	<div class="row">

        <nav id="main_nav" class="col-1-5">
            <ul>
                <li class="selected"><a href="#tab1">Upcoming Events</a></li>
                <li><a href="#tab2">Past Events</a></li>
                <li><a href="#tab3">News</a></li>
            </ul>
            <% if signed_in? %>
            <p><%= link_to "Add new event", new_event_path %></p>
            <% end %> 
        </nav>
         
        <section class="tabpane col-2-3 event">
            <div id="tab1" class="tab">
                <% if @upcoming_events.blank? %>
                    <p>There are no upcoming events</p>
                <% else %>
                    <%= render @upcoming_events %>
                <% end %>       
            </div>

            <div id="tab2" class="tab">
                <%= render @past_events %>
            </div>
        
            <div id="tab3" class="tab">
                <%= render @news_events %>
            </div>
           
        </section>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function() {
        var url = document.location.toString();
        if (url.match('#')) {
          id = (url.split('#')[1]);
          $('.tab').hide();
          var tab = document.getElementById(id).parentNode.getAttribute('id');
          $('#'+tab).show();
          $('.selected').removeClass('selected');
          li = $('a[href=#'+tab+']').parent();
          li.addClass('selected');
        }  
        else {
            $('.tab').hide();
            $('#tab1').show();
        }
    });

</script>

<%= render partial: 'shared/switching_script' %>

