<%= provide(:title, "Add new event") %>
<h1>Add new event</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@event) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :title %>
			<%= f.text_field :title %>

			<%= f.label :description %>
			<%= f.text_area :description %>

			<%= f.label :location %>
			<%= f.text_field :location %>

			<%= f.label :date %>
			<%= f.date_select(:date, {:use_short_month => 1, :order => [:month, :day, :year]}, {class: "span2 date-select"}) %>

			<%= f.submit "Add new event", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>