<% provide(:title, 'Posts') %> 
<h1>Posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Published date</th>
    <th>Categories</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.body %></td>
    <td><%= post.published_date %></td>
    <% post.categories.each do |cat| %>
    <td><%= link_to cat.name, posts_path(:cat => cat.id) %></td> 
    <% end %>
    <td><%= link_to post.user.name, posts_path(:user => post.user.id) %></td>
    <td><%= link_to 'Show', post %></td>
    <% if current_user?(post.user) %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if signed_in? %>
  <%= link_to 'New Post', new_post_path %>
<% end %> 
