<% provide(:title, 'Blog') %> 

<div class="main">
    <div class="row">

        <div class="span3 sidebar">
                <h2>Categories</h2>
                <ul class="nav nav-tabs nav-stacked white-nav">
                    <% @categories.each do |cat| %>
                        <li>
                        <%= link_to cat.name, posts_path(:cat => cat.id) %>
                        </li>
                    <% end %> 
                </ul> 

              <% if signed_in? %>
                <p><%= link_to "Add new post", new_post_path %></p> 
                <p><%= link_to "Categories", categories_path %></p> 
                <p><%= link_to "Add new category", new_category_path %></p>          
              <% end %> 
        </div>


        <div class="span9 main-container blog-latest">
        <h2>Welcome to the Blog!</h2>
 
             <%= render @posts %>

        </div>

    </div>
</div>
 


