<% provide(:title, @post.title) %> 

<div class="main">
	<div class="row">

		<div class="span8 content">

			<p>
				<%= @post.published_date.strftime(" %d %B %Y") %>
			</p>

			<h2><%= @post.title %></h2>

			<p>
				By <%= link_to @post.user.name, posts_path(:user => @post.user.id) %>
			</p>

			<p>
			  <%= @post.body %>
			</p>

			<p>
            Tags: <% @post.categories.each do |cat| %>
                <%= link_to cat.name, posts_path(:cat => cat.id), :class => 'label' %>
            <% end %>
            </p>

			<% if signed_in? %>
				<%= link_to 'Edit', edit_post_path(@post) %> 
			<% end %>
		</div>

		<div class="span4 sidebar">
			<h2>Related Posts</h2>
			<%= render partial: 'shared/blog_excerpt', collection: @related %>
		</div>

	</div>
</div>


