<% provide(:title, @post.title) %> 

<div class="main">
	<div class="row main-container">

		<div class="span8">

			<h2 id="blog-heading"><%= @post.title %></h2>

			<span id="posted-info">By <%= link_to @post.user.name, posts_path(:user => @post.user.id) %> | <%= @post.published_date.strftime(" %d %B %Y") %></span>

			<div class="tab-content2">

				<p>
				  <%= @post.body.html_safe %>
				</p>

				<br />

				<p>
	            Tags: <% @post.categories.each do |cat| %>
	                <%= link_to cat.name, posts_path(:cat => cat.id), :class => 'label' %>
	            <% end %>
	            </p>

				<% if current_user?(@post.user) %>
					<%= link_to 'Edit', edit_post_path(@post) %> 
				<% end %>
			</div>

		</div>

		<div class="span4 home-sidebar">
		<h2>Related Posts</h2>
			<div class="blog-content">
			<%= render partial: 'shared/blog_excerpt', collection: @related %>
			</div>	
		</div>

	</div>
</div>


