<footer class="footer">
  <small>
    Built by Colm Heaney using <%= link_to 'Bootstrap', 'http://twitter.github.com/bootstrap/' %>
  </small>
  <div>
    <nav>
      <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About Us", about_path %></li>
          <li><%= link_to "Contact Us", contact_path %></li>
          <li><%= link_to "Publications", '#' %></li>
          <li><%= link_to "Blog", '#' %></li>
          <li><%= link_to "News/Events", '#' %></li>
      </ul>
    </nav>
  </div>
</footer>