<div class="container top">
  <img alt="IAR" src="/assets/LogoSmaller.png">
</div>
<header class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav">

          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
                Home
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Home", root_path %></li> 
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Home", root_path %></li> 
          <% end %>          
  				
          <li><%= link_to "About Us", about_path %></li>
  				<li><%= link_to "Contact Us", contact_path %></li>

          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
                Publications
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Publications", publications_path %></li> 
                <li><%= link_to "Add new publication", new_publication_path %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Publications", publications_path %></li>
          <% end %>               

          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
              Blog
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Blog", posts_path %></li>
                <li><%= link_to "Add new post", new_post_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Categories", categories_path %></li>
                <li><%= link_to "Add new category", new_category_path %></li></ul>
            </li>
          <% else %>
              <li><%= link_to "Blog", posts_path %></li>
          <% end %>  

          
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
                News/Events
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "News/Events", events_path %></li> 
                <li><%= link_to "Add new event", new_event_path %></li>
              </ul>
            </li>
          <% else %>
              <li><%= link_to "News/Events", events_path %></li>  
          <% end %>  

        </ul>
      </nav>
    </div>
  </div>
</header>