<script> document.documentElement.className = 'js'; </script>
<b id="te" class="welcome">

  <a href="/">
    <div id="masthead" class="col-2-3">
      <!-- <img src="/assets/logo2.jpg"> -->
      <div>
        <h1>Irish</h1>
        <h1>Archaeological</h1>
        <h1>Research</h1> 
      </div>
      <!-- <p>Bringing our local heritage to the world</p> -->
    </div>
  </a>

</b>

<header class="grid">

  <div style="margin-top: 20px;"></div>

	<nav id="header_nav" class="col-1-5">
		<ul>
	      	<a href="/"><li class=" <%= 'active' if current_page?(root_path) %>">Home</li></a>
	      	<a href="/events"><li class="<%= 'active' if current_page?(events_path) %>">Events</li></a> <a href="/downloads"><li class="<%= 'active' if current_page?(publications_path) %>">Downloads</li></a>             
	  	</ul>	
        <% if signed_in? %>
   		<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
      	<% end %> 

	</nav>

	<div id="headsocial" class="col-1-5">
		<h3 id="find">Find us on:</h3>
        <a href="https://www.facebook.com/IrishArchaeologicalResearch">
            <img src="/assets/icons/facebook_grey.png" alt="facebook" />
        </a>
        <a href="https://twitter.com/IAR1">
            <img src="/assets/icons/twitter_grey.png" alt="twitter" />
        </a>
		<div id='basic-modal' style="display: inline;">
		  <a href='/contact' class='basic'><img src="/assets/icons/email.png" alt="contact-us" /></a>
		</div>               
	</div> 



<section id="basic-modal-content">
  <div class="col-1-2">
    <p>Irish Archaelogical Research</p>
    <p>47 Olympia Drive</p>
    <p>Belfast</p>
    <p>BT12 6NG</p>
    <br />
    <p>8am-4pm, Monday-Friday</p>
    <p>Phone: 02890501769</p>
    <p><a href="mailto:info@irisharchaeologicalresearch.com">info@irisharchaeologicalresearch.com</a></p> 
  </div>

<!--     <%= form_for(@message, :remote => true) do |f| %>    
    <%= render 'shared/error_messages', object: f.object %>
    
    <div class="response"></div>

    <div class="col-1-2 form">
      <div>
        <div class="col-1-2">
          <%= f.text_field :name, :placeholder => 'Name' %>
        </div>
        <div class="col-1-2">
          <%= f.text_field :email,  :placeholder => 'Email'  %>
        </div>
        <div class="col-1-1">
          <%= f.text_area :content, :rows => 5, :placeholder => 'Message'  %>
        </div>
        <div class="col-1-8"><%= f.submit "Send", :class => 'pointer'  %>
        </div>          
      </div>
    </div>
    <% end %> -->

</section> 

<!-- preload the images -->
<div style='display:none'>
  <img src='/assets/icons/x.png' alt='' />
</div> 

</header>
