<div id="header" class="navbar navbar-static-top">
	<div class="navbar-inner">

        <div class="container">
      
          	<nav>
		        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			        <span class="icon-bar"></span>
		    	    <span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		        </a>

	            <ul id="nav" class="nav-collapse collapse">
	                <% if signed_in? %>
	                <li id="fat-menu" class="dropdown">
	                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
	                   		<ul class="dropdown-menu white-nav">
	                			<li><%= link_to "Home", root_path %></li>
	                    		<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
	                  		</ul>
	                </li>
	              	<% else %>
	                <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li> 
	              	<% end %>               
	              	<li class="<%= 'active' if current_page?(publications_path) %>"><%= link_to "Downloads", publications_path %></li> 
	              	<li class="<%= 'active' if current_page?(contact_path) %>"><%= link_to "Contact Us", contact_path %></li>
	          	</ul>	
        	</nav>

	        <div id="headsocial">
	            <ul>
	                <li>
	                    <a href="https://www.facebook.com/IrishArchaeologicalResearch">
	                        <img src="/assets/icons/facebook_green.png" alt="facebook" />
	                    </a>
	                </li>
	                <li>
	                    <a href="https://twitter.com/IAR1">
	                        <img src="/assets/icons/twitter_green.png" alt="twitter" />
	                    </a>
	                </li>
<!-- 	                <li>
	                    <a href="http://www.flickr.com/">
	                        <img src="/assets/icons/flickr.png" alt="flickr" />
	                    </a>
	                </li> -->
	            </ul>
	        </div><!--headsocial-->      
        </div><!--/.container -->
    </div><!--/.navbar-inner-->
</div><!--/.header-->

<div id="masthead">

	<a href="/">
		<div id="masthead-container">
			<img src="/assets/logo_1.png">
			<h1>Irish Archaeological Research</h1>
			<p>Bringing our local heritage to the world</p>
		</div>
	</a>

</div><!--/#masthead-->
