<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  	<%= render 'layouts/shim' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44371005-1', 'irisharchaeologicalresearch.com');
      ga('send', 'pageview');

    </script>
        
  </head>
  <% current_uri = request.env['PATH_INFO'] %>
  <% case current_uri
     when '/' %>
     <body class="home">
  <% when '/about' %>
    <body class="about">
  <% when '/contact' %>
    <body class="contact">
  <% when '/aerial-services' %>
    <body class="aerial">
  <% when '/community-archaeology' %>
    <body class="community">
  <% when '/downloads' %>
    <body class="downloads">    
  <% when '/pop-up-museum' %>
    <body class="pop-up">   
  <% when '/education' %>
    <body class="education"> 
  <% when '/events' %>
    <body class="events"> 
  <% else %>
    <body>                            
  <% end %>
    <%= render 'layouts/header' %> 
      <% flash.each do |key, value| %>
        <div class="grid alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <!-- <%= debug(params) if Rails.env.development? %> -->
      <%= render 'layouts/footer' %>
  </body>
</html>